<div class="videos-section">
    @for (video of videoData; track video) {
    <div class="video">
        <div class="thumbnail">
            <img src="{{video.videoThumbnailUrl}}" alt="Falling Sand">
        </div>
        <div class="video-metadata">
            <div class="creator-pfp">
                <img src="{{video.channelProfileIconUrl}}" alt="{{video.channel}}">
            </div>
            <div class="video-details">
                <div class="video-title">
                    {{video.title}}
                </div>
                <div class="creator-name">
                    {{video.channel}}
                </div>
                <div class="other-metadata">
                    <span class="views">{{video.views}} • </span>
                    <span class="time">{{video.uploadDate}}</span>
                </div>
            </div>
        </div>
    </div>
    }

</div>