<div class="trending-topics">
    <div class="trending-topic-button active-tt-button">All</div>
    <div class="trending-topic-button">Music</div>
    <div class="trending-topic-button">Trailers</div>
    <div class="trending-topic-button">Tamil Cinema</div>
    <div class="trending-topic-button">Wickets</div>
    <div class="trending-topic-button">Dramedy</div>
    <div class="trending-topic-button">Filmi</div>
    <div class="trending-topic-button">Game shows</div>
    <div class="trending-topic-button">Live</div>
    <div class="trending-topic-button">Street food</div>
    <div class="trending-topic-button">Chicken</div>
    <div class="trending-topic-button">Birds</div>
    <div class="trending-topic-button">Recently uploaded</div>
</div>