/* You can add global styles to this file, and also import other style files */
:root {
    /* Declaring the global colors */
    --background-black: #0f0f0f;
    --mid-black: #121212;
    --hover-black: #272727;
    --border-grey: hsl(0 0% 18.82%);
    --lighter-black: #3d3d3d;
    --chip-background: rgba(255, 255, 255, 0.2);
    --dimmed-font: #AAAAAA;
}

/* Body styling */
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: var(--background-black);
    color: white;
}